<mat-card>
  <mat-card-title>
    <span>Edit Customer</span>
    <span fxFlex> </span>
  </mat-card-title>
  <mat-dialog-content >
    <form [formGroup]="detailForm" novalidate >
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="40">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput  formControlName="firstName" name="firstName">
            <mat-error>First name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="xxx-xxx-xxxx" formControlName="phoneNumber" name="phoneNumber">
          </mat-form-field>
          <mat-form-field>
            <mat-label>PreferedContact Methold</mat-label>
            <mat-select formControlName="preferredContactMethod" name="preferredContactMethod">
              <mat-option value="Email">Email</mat-option>
              <mat-option value="Phone">Phone</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" name="lastName" >
            <mat-error>Last name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput #emailAddress placeholder="Email Address" formControlName="emailAddress" name="emailAddress">
            <mat-error *ngIf="!emailAddress.value">Email address is required</mat-error>
            <mat-error *ngIf="emailAddress.value">Invalid email address</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</mat-card>
<mat-dialog-actions>
    <button mat-raised-button (click)="save()" color="primary">Save</button>
  </mat-dialog-actions>
