@model HomePageViewModel
@{
    ViewBag.Title = "Index";
}
<h1>Customers</h1>
<p>
    @Model.CurrentMessage
</p>
@foreach (var customer in Model.Customers)
{
    <partial name="_Summary" model="customer" />
}

<a asp-action="Create">Create</a>
@section footer {

}