.content {
    width: 80%;
    margin: auto;
}
.fab-right {
    position: absolute;
    right: 40px;
    top: 90px;
    z-index: 999;
}
.mdl-textfield__error.field-validation-error {
    visibility: visible;
}
#myErrorStyling ul li {
    list-style-type: none;
}